body {
  background-color: #ffdbbfff;
}

h1 {
  color:#5bc7b3;
  text-align: center;
  font-family: 'Brush Script MT'; 
  font-size: 40px;
}

#HEADER {
  background-color: #d5f3ceff;
  height: 100%;
    top: 100%;
    left: 100%;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 12px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff6bdff;
}

li {
  float: left;
}

li a {
  display: block;
  color:#5bc7b3;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-family: 'avenir';
}

li a:hover {
  background-color:#ffdbbfff;;
}

ul.contactlist {
  font-family: 'Avenir';
  background-color: #ffdbbfff;
  padding-left: 600px;
}

h4.contactlist {
  color:#ffa267;
  text-align: center;
  font-family: 'Optima'; 
  font-size: 24px;
  border-style: solid;
  border-width: 5px;
  height: 90px;
  width: 300px;
  padding-top: 8px;
  border-radius: 30px;
  margin: auto;
}

p.email {
  color:#5bc7b3;
  text-align: center;
  font-family: 'Avenir'; 
  font-size: 16px;
}

h3 {
  color:#5bc7b3;
  text-align: center;
  font-family: 'Optima'; 
  font-size: 54px;
  border-style: solid;
  border-width: 5px;
  height: 90px;
  width: 300px;
  padding-top: 8px;
  padding-bottom: 10px;
  border-radius: 30px;
  margin: auto;
}

h5 {
  color:#5bc7b3;
  text-align: center;
  font-family: 'Avenir'; 
  font-size: 18px;
  font-style: italic;
}

h6 {
  color:#5bc7b3;
  text-align: center;
  font-family: 'Avenir'; 
  font-size: 20px;
  font-style: italic;
}
*{
  box-sizing: border-box;
}

.heading {
  text-align: center;
}

.columns {
  float: left;
  width: 50%;
  padding: 12px;
  min-height: 300px;
}

.rows:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  font-family: 'Avenir'; 
  font-size: 15px;
  color: #5bc7b3;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .columns {
    width: 100%;
  }
}

a:link {
  color: #5bc7b3
}

a:visited {
  color: #ffa267
}

a:hover {text-decoration:
none;
color:white
}

.image1
{
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 200px;
      width: 800px;
}

.image2
{
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 200px;
      width: 650px;
}

.image3
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 650px;
}

#CONTACTSTATEMENT {
  background-color: #fff6bdff;
  height: 80px;
    width: 900px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1px;
    margin: auto;
}

#FOOTER {
  background-color: #fff6bdff;
  height: 100px;
    width: 880px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 3%;
    padding-bottom: 12%;
    margin: auto;
}